* {
  box-sizing: border-box;
}

body {
  background-color: rgb(208, 191, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

.box {
  background-color: rgb(180, 147, 221);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 5px;
  transform: translateX(350%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
    transform:translateX(-350%);
}

.box.show {
    transform: translateX(0);
}

.image {
  background-color: rgb(217, 209, 226);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 350px;
  margin: 10px;
  border-radius: 5px;
}
